* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.body-layout {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {

    background-color: #e7e1e1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logoBox {
    display: flex;
    justify-content: center;
    align-items: center;
}




.outer-info-panel {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    padding: 20px 20px;
}


.info-panel-stock {
    background-color: rgba(231, 225, 225, 0.25);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    border-radius: 2px;
    border: black dotted 1px;
}
.info-panel-sold {
    background-color: rgba(231, 225, 225, 0.25);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    border-radius: 2px;
    border: black dotted 1px;
}
.info-panel-toSell {
    background-color: rgba(231, 225, 225, 0.25);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    border-radius: 2px;
    border: black dotted 1px;
}
.info-panel-text {
    font-family: 'Zen Kaku Gothic New', Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #333333;
    text-align: center;
    margin-top: 20%;


}

.info-panel-textStock {
    display: flex;
    align-items: center;
    font-size: 72px;
    color: cornflowerblue;
    text-align: center;
    margin-bottom: 20%;

}
.info-panel-textSold {
    display: flex;
    align-items: center;
    font-size: 72px;
    color: olivedrab;
    text-align: center;
    margin-bottom: 20%;

}
.info-panel-textToSell {
    display: flex;
    align-items: center;
    font-size: 72px;
    color: #7a0202;
    text-align: center;
    margin-bottom: 20%;

}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid white;
}